<shepherds-section-title [name]="name" [type]="type"></shepherds-section-title>
<shepherds-section-image-profile
   [img]="img01"
></shepherds-section-image-profile>
<shepherds-section-text [text]="text01"> </shepherds-section-text>
<shepherds-section-quote [text]="quote01"></shepherds-section-quote>
<shepherds-section-text [text]="text02"> </shepherds-section-text>
<shepherds-section-image-profile
   [img]="img02"
></shepherds-section-image-profile>

<shepherds-section-text [text]="text02"> </shepherds-section-text>
<shepherds-section-quote [text]="quote01"></shepherds-section-quote>
<shepherds-section-text [text]="text02"> </shepherds-section-text>
<shepherds-section-quote [text]="quote01"></shepherds-section-quote>
