.menu-component{
   width: 100%;
   min-height: 100vh;
   color: var(--color-night);
}
.menu-component .menu-body-component{
   width: 100%;
   min-height: calc(100vh - 300px);
   background-color: var(--color-beige);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

.menu-component .menu-body-component .menu-body-component-btn{
   width: 100%;
   height: 42px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   cursor: pointer;
}
.menu-component .menu-body-component .menu-body-component-btn .btn-close-menu{
   width: 42px;
   height: 42px;
   border-radius: 50%;
   color: var(--color-gray);
   background-color: var(--color-night);
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu-component .menu-body-component .menu-body-component-container{
   width: 100%;
   flex: 1;
   padding-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu-component .menu-body-component .menu-body-component-container .container-list{
   width: 100%;
   display: flex;
   flex-direction: column;
}



.menu-component .menu-footer-component{
   width: 100%;
   min-height: 300px;
   background-color: var(--color-sky);
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.menu-component .menu-footer-component .menu-footer-component-section-l{
   width: 100%;
   display: flex;
   flex-direction: column;
}

.menu-component .menu-footer-component .menu-footer-component-section-l .section-form{
   width: 100%;
}
.menu-component .menu-footer-component .menu-footer-component-section-l .section-social{
   width: 100%;
}
.menu-component .menu-footer-component .menu-footer-component-section-r {
   width: 100%;
}

////////////////////////
///   Media Query   ///
///////////////////////
@media (min-width: 640px) {
   .menu-component .menu-body-component .menu-body-component-container .container-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
   }
   .menu-footer-component-section-l{
      max-width: 600px;
   }
   .menu-footer-component-section-r{
      max-width: 600px;
   }

   .menu-component .menu-footer-component .menu-footer-component-section-l .section-form{
      padding-right: 20px;
   }
   .menu-component .menu-footer-component .menu-footer-component-section-l .section-social{
      padding-left: 20px;
   }
}

@media (min-width: 768px) {
   .menu-component .menu-body-component .menu-body-component-container .container-list {
      max-width: 700px;
   }
   .menu-component .menu-footer-component .menu-footer-component-section-l{
      flex-direction: row;

   }
}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {
   .menu-component .menu-body-component .menu-body-component-container .container-list {
         max-width: 1200px;
   }
   .menu-component .menu-footer-component{
      flex-direction: row;
   }
   .menu-component .menu-footer-component .menu-footer-component-section-l{
      width: 65%;
   }
   .menu-component .menu-footer-component .menu-footer-component-section-r {
       width: 35%;
   }
}

@media (min-width: 1536px) {
   
}