<div class="menu-social">
   <div class="menu-social-item">
      <div class="menu-social-item-title">Ver el contenido de:</div>
      <div class="menu-social-item-body">
         <div class="body-content">
            <div class="body-content-l">Líder</div>
            <div class="body-content-r">Nuevo</div>
         </div>
      </div>
   </div>

   <div class="menu-social-item">
      <div class="menu-social-item-title">Revisa más contenido:</div>
      <div class="menu-social-item-body">
         <div class="body-icons">
            <div class="icon"><ng-icon name="remixYoutubeFill"></ng-icon></div>
            <div class="icon"><ng-icon name="remixFacebookFill"></ng-icon></div>
            <div class="icon"><ng-icon name="remixSpotifyLine"></ng-icon></div>
            <div class="icon">
               <ng-icon name="remixInstagramFill"></ng-icon>
            </div>
            <div class="icon"><ng-icon name="remixTiktokFill"></ng-icon></div>
            <div class="icon"><ng-icon name="remixTwitterFill"></ng-icon></div>
         </div>
      </div>
   </div>
</div>
