<div class="menu-directory">
   <div class="menu-directory-content">
      <div class="content-item">
         <div class="content-item-title">RECURSOS</div>
         <div class="content-item-list">
            <div class="list">Video OnDemand</div>
            <div class="list">Radio en vivo</div>
            <div class="list">Libros y Biblias</div>
            <div class="list">Música Cristiana</div>
            <div class="list">Contenido Niños</div>
            <div class="list">Contenido Madres</div>
         </div>
      </div>
      <div class="content-item">
         <div class="content-item-title">VER MAS</div>
         <div class="content-item-list">
            <div class="list">Eventos</div>
            <div class="list">Visión G12</div>
            <div class="list">César Castellanos</div>
            <div class="list">Emma Claudia</div>
            <div class="list">Castellanos</div>
         </div>
      </div>
      <div class="content-item">
         <div class="content-item-title">CONTACTO</div>
         <div class="content-item-list">
            <div class="list">Formulario</div>
            <div class="list">Politicas de Datos</div>
            <div class="list">Trabaja con Nosotros</div>
         </div>
      </div>
   </div>
</div>
