
section{
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
section img{
   width: 100%;

}


////////////////////////
///   Media Query   ///
///////////////////////
@media (min-width: 640px) {
   section {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
   }
   section img {
      width: 49%;
   
   }
}
